body {
	margin: 0px;
	padding: 0;
	color: #616161;
	font-size: 0.8em;
}

.ui-widget {
	font-size: 1em;
	font-weight: normal;
}

.column1 {
	vertical-align: middle;
}

.column2 {
	vertical-align: middle;
}

h:panelGrid {
	vertical-align: middle;
}

.ui-selectonemenu {
	vertical-align: top;
	font-weight: normal;
}

.ui-datatable-data {
	font-size: 0.9em;
	font-family: Arial;
}

.ui-button .ui-button-text {
	line-height: 0.8;
}

.ui-inputfield {
	padding-top: 3px;
	padding-bottom:3px;
}
