<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <http>
    <intercept-url pattern="/login.jsp" filters="none" />
    <form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?error=true" default-target-url="/index.jsp" />
    <logout logout-success-url="/login.jsp" />
    <http-basic />
    <custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="myFilter" />
  </http>

  <beans:bean id="myFilter" class="com.robin.erp.fwk.security.MyFilterSecurityInterceptor">
    <beans:property name="authenticationManager" ref="authenticationManager" />
  </beans:bean>

  <authentication-manager>
    <authentication-provider>
      <user-service id="inMemoryDao">
        <user name="dongzhuming" password="19821210" authorities="ROLE SUPERVISOR"></user>
      </user-service>
    </authentication-provider>
  </authentication-manager>

</beans:beans>
